@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio</title>
</head>
<body>
    <div>
        <h1>Usuarios</h1>
        <input id="Text1" type="text" />
        <br />
        <input id="Text2" type="text" />
        <br />
        <input id="File1" type="file" />

    </div>
</body>
</html>
